body{
    display: flex;
    width: 100%;
    flex-direction: row;
    background: rgb(248, 248, 248);

}
main{
    width: 100%;
}
.addPrductDiv{
  width: 100%;
  height: 40px;
  background: white;
  margin-top: 20px;
}
.addPrductDiv>button{
  margin: 6px;
  margin-left: 15px;
  padding: 5px 8px;
  background: transparent;
  border: 1px solid rgb(0, 132, 255);
  color: rgb(0, 132, 255);
  border-radius: 5px;
}
.productFormOuter{
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
    width: 100vw;
  height: 110vh;
  margin: -150px -150px;
  z-index: 1000;
  align-items: center;
  justify-content: center;
}
.btn-close{
  position: absolute;
  top: 15px;
  right: 20px;
}
.productFormOuter>form{
  position: relative;
  height: 500px;
  background: white;
  width: 30%;
  padding: 10px;
  overflow-y: scroll;
}
.productFormOuter>form>h3{
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}
.productFormOuter>form>input{
  /* display: inline-block; */
  height: 30px;
  width: 90%;
}
.productFormOuter>form>button{
  margin: auto;
  display: flex;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    background: white;
  }
  table{
    margin: 30px auto;
  }
  th{
    font-weight: 100;
  }
  .viewBtn{
    background-color: #969696 !important;
    border: none;
    color: white !important;
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  .viewBtn:hover{
    background-color: #636363 !important;
  }
  .deleteBtn {
    background-color: #ff6f6f !important;
    border: none;
    color: white !important;
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .deleteBtn:hover {
    background-color: red !important;
  }
  .editBtn{
    background-color: rgb(0, 170, 0) !important;
    border: none;
    color: white !important;
    padding: 8px 10px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  .editBtn:hover{
    background-color: green !important;
  }