*{
    margin: 0;
    padding: 0;
}

.logindiv h1{
    margin-top: 20px;
    color: rgb(55, 89, 128);
    font-size: 40px;
    font-weight: 700;
}

.logindiv{
    margin-top: 90px;
    margin-left: 25%;
    height: 380px;
    width: 50%;
    border: 2px solid rgb(48, 58, 78);
    border-radius: 25px;
    text-align: center;
}

.loginform{
    width: 95%;
    text-align: left;
}  

.loginelement{
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 20px;
}

.loginelement .inputlogin{
    height: 40px;
    width: 97%;
    border: 2px solid rgb(48, 58, 78);
    border-radius: 15px;
    text-align: center;
    font-size: 35px;
    color: rgb(90, 83, 83);
}

.submitlogin{
    margin-top: 40px;
    width: 200px;
    height: 40px;
    margin-left: 32%;
    border: 2px solid rgb(48, 58, 78);
    border-radius: 25px;
}