
  /* @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Lobster&family=Merriweather+Sans:ital@1&family=Play:wght@700&family=Roboto+Condensed:ital,wght@1,700&display=swap'); */


*{
    margin: 0;
    padding: 0;
    
}


    

.ordermainclass{
    margin-left: 135px;
    width: 90%;
}
table{
    width: 95%;
    /* height: 600px; */
    margin-left: 40px;
    margin-top: 10px;
    border: 2px solid rgb(170, 167, 167);
    border-collapse: collapse;
    
}

table td,th{
    border: 1px solid rgb(170, 167, 167);
    text-align: center;
    /* overflow: hidden; */
    padding-top: 05px;
    padding-bottom: 05px;
   
}

table th{
    /* font-size: 20px; */
    font-weight: 600;

}

table .tableheading{
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
    
}

/* .addinvoicebtn{
    cursor: pointer;
    border: 2px solid rgb(107, 101, 101);
    border-radius: 25px;
    background-color: rgb(0, 183, 255);
    color: white;
    float: right;
    margin-right: 30px;
    margin-top: 12px;
    width: 120px;
    height: 35px;
    padding: 7px;
    text-align: center;
    font-size: 15px;
}
.addinvoicebtn:hover{
    color: black;
    transition: 0.8s;
} */

.searchfield{
    width: 460px;
    /* text-align: center; */
    position: relative;
    top: 50px;
    left: 620px;
}

.searchinput{
    width: 300px;
    border: 2px solid rgb(155, 152, 152);
    border-radius: 20px;
    height: 40px;
    text-align: center;
}
.searchbtn{
    width: 120px;
    border: 2px solid rgb(155, 152, 152);
    height: 41px;
    border-radius: 20px;
    background-color: rgb(0, 183, 255);
    color: white;
    font-size: 17px;
    font-weight: 500;
}
.searchbtn:hover{
    color: black;
    transition: 0.8s;
}
.movetosalebtn{
    /* height: 55px; */
    /* width: 170px; */
    /* padding: 02px; */
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid rgb(45, 194, 15);
    border-radius:5px;
    color: rgb(34, 156, 9);
    background-color:rgb(164, 236, 150) ;
    text-align: center;
   
}

.productList{
    overflow-y: scroll;
}

.mybtns{
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 15px;
}


.deleteBtn {
    background-color: #ff6f6f !important;
    border: 1px solid;
    border-radius:10px ;
    color: white !important;
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .deleteBtn:hover {
    background-color: red !important;
  }
  .editBtn{
    background-color: rgb(0, 170, 0) !important;
    border: 1px solid;
    border-radius:10px ;
    color: white !important;
    padding: 8px 10px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  .editBtn:hover{
    background-color: green !important;
  }

