*{
    margin: 0;
    padding: 0;
}


.warehouseFormOuter{
    /* display: none; */
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
      width: 100%;
    height: 110vh;
    /* margin: -150px -150px; */
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.updateform{
    position: fixed;
    margin-left: 35%;
    margin-top: 80px;
    background: rgb(255, 255, 255);
    border: 2px solid black;
    /* border-radius: 15px; */
      width: 60%;
    height: 300px;
    text-align: center;
    /* margin: -150px -150px; */
    z-index: 1000;
    
}

.closeupdateform{
    position: absolute;
    top: 15px;
    right: 20px;
    color: red;
  }
  .warehouseFormOuter>form{
    position: relative;
    height: 500px;
    background: white;
    width: 30%;
    padding: 10px;
    overflow-y: scroll;
  }
  .warehouseFormOuter>form>h3{
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    font-weight: 800;
  }
  .warehouseFormOuter>form>input{
    /* display: inline-block; */
    height: 40px;
    width: 90%;
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 15px;
    /* text-align: center; */
    padding-left: 20px;
  }

  .warehouseFormOuter>form>textarea{
    /* display: inline-block; */
    /* height: 40px; */
    width: 90%;
    /* margin-bottom: 30px; */
    border: 1px solid black;
    border-radius: 15px;
    /* text-align: center; */
    padding-left: 20px;
  }
  .warehouseFormOuter>form>button{
    margin: auto;
    /* display: flex; */
    margin-top: 50px;
    width: 200px;
    height: 40px;
    border: 1px solid black;
    border-radius: 25px;
    padding: auto;
    background-color: rgb(121, 163, 241);
  }

  .warehouseFormOuter>form>label{
    margin-top: 30px;
    font-size: 20px;


  }
